@import "../../styles/variables";

.whiteboard {
  background-size: 113% !important;
  background-position: 10% !important;
  border: 1px solid black;
  &--plain {
    background: white;
  }
  &--square {
    background: url("../#{$image-path}/whiteboard-grid.svg") no-repeat white;
  }
  &--dotted {
    background: url("../#{$image-path}/whiteboard-dotted.svg") no-repeat white;
  }
  &--lined {
    background: url("../#{$image-path}/whiteboard-lined.svg") no-repeat white;
  }
  &--brush {
    .tool--brush {
      background-color: $grey-ea;
    }
  }
  &--pointer {
    .tool--pointer {
      background-color: $grey-ea;
    }
  }
  &--erase {
    .tool--erase {
      background-color: $grey-ea;
    }
  }
  canvas{
    width: 100%;
  }
}
