@import "../../styles/variables";

.whiteboard {
  canvas {
    background-size: 113% !important;
    background-position: 10% !important;
  }

  &--plain {
    canvas {
      background: white;
    }
  }
  &--square {
    canvas {
      background: url("../#{$image-path}/whiteboard-grid.svg") no-repeat white;
    }
  }
  &--dotted {
    canvas {
      background: url("../#{$image-path}/whiteboard-dotted.svg") no-repeat white;
    }
  }
  &--lined {
    canvas {
      background: url("../#{$image-path}/whiteboard-lined.svg") no-repeat white;
    }
  }
  &--brush {
    .tool--brush {
      background-color: $grey-ea;
    }
  }
  &--pointer {
    .tool--pointer {
      background-color: $grey-ea;
    }
  }
  &--erase {
    .tool--erase {
      background-color: $grey-ea;
    }
  }
}
